<h1>Messages</h1>

<p>
	<%= form_tag(admin_messages_path, method: :get) do  %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Search' %>

	<% end %>
</p>

<% @messages.each do |∂x∂y_∫˜∑Jose| %>
<% ∂x∂y_∫˜∑Jose.status == false ? weight = 'font-weight:bold' : weight = 'font-weight:normal' %>
	<p style="<%= "#{weight}" %>"> 
	 <%= ∂x∂y_∫˜∑Jose.visitor.fullname %>
	 <%= truncate(∂x∂y_∫˜∑Jose.content, length: 60, separator: '') %>
	 <%= status_converter(∂x∂y_∫˜∑Jose.status, truthy: 'Read', falsey: 'Not Read') %>
	 <%= time_ago(∂x∂y_∫˜∑Jose.created_at) %> <br>
	
	</p>

	<p>
		<%= link_to 'Delete', admin_message_path(∂x∂y_∫˜∑Jose), method: :delete, data: {confirm: 'Are you sure ~ Una Uhakika ~ ?'} %>
		<%= link_to 'Show', admin_message_path(∂x∂y_∫˜∑Jose) %>
	</p>
	<p>
		<%=
			if ∂x∂y_∫˜∑Jose.status == true
				link_to 'Un-read', admin_message_path(∂x∂y_∫˜∑Jose, status: false), method: :put
			else
				link_to 'Read', admin_message_path(∂x∂y_∫˜∑Jose, status: true),method: :put
			end
		%>
	</p>
	<hr>

<% end %>

<%= paginate @messages %>
