<h1>Posts#index</h1>

<% @posts.each do |post| %>
<p>
	<%= truncate(post.title, length: 70, separator: '') %><br>
	<%= time_ago post.created_at %><br>
</p>

<p>
	<%= truncate(post.content, length: 104, separator: '') { link_to 'Read More', post_path(post) } %>
</p>

<p>
	<% post.tags.each do |beppe| %>
		<%= link_to beppe.name, '#' %>
	<% end %>
</p>
<hr>
<% end %>

<%= paginate @posts %>
