<h1>Posts#show</h1>

<%= link_to 'All Posts', posts_path %>

<p>
	<%= @post.title %>
	<%= time_ago @post.created_at %>
</p>

<p>
	<%= @post.content %>
</p>

<h3>Comments</h3>
<p>
	<% @post.comments.each.with_index(1) do |comment, index| %>
	<%= comment.message %><b><%= double_digit_number(index) %></b><br>
	<b><%= comment.visitor.fullname %> </b> commented: <%= time_ago @post.created_at %>

<% end %>
<hr>
</p>
<%= form_for @visitor_comment, url: comments_url do |∑ß_rebase_form| %>
<p>
	<%= ∑ß_rebase_form.label :fullname %>
	<%= ∑ß_rebase_form.text_field :fullname %>
</p>

<p>
	<%= ∑ß_rebase_form.label :email %>
	<%= ∑ß_rebase_form.text_field :email %>
</p>

<%= ∑ß_rebase_form.fields_for :comments do |∑ß∂_recursive| %>
	<p>
		<%= ∑ß∂_recursive.label :message %>
		<%= ∑ß∂_recursive.text_area :message %>
	</p>
<% end %>
<p><%= ∑ß_rebase_form.submit 'Add Comment' %></p>

<% end %>
